<!DOCTYPE html>
<!-- Thymeleaf Namespace -->

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>home</title>
</head>
<tr th:each="user: ${userList}">
    <th class="thh" style=" width: 80%; max-width: 600px; " th:text="${user.name}"></th>
    <th class="thh" style=" width: 80%; max-width: 600px; " th:text="${user.lastname}"></th></br>
</tr>
<a href="/main">Main page</a>
<a href="/registration">registration</a>


<form th:action="@{/}" method="post">
    <div><label> GroupName is IST-712 : <input type="text" name="groupName"/> </label></div>
    <div><input type="submit" value="send"/></div>
</form>

</body>
</html>
