<!DOCTYPE html>
<!-- Thymeleaf Namespace -->

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>home</title>
</head>
<a href="/main">Main page</a>


<form action="/registration" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><label> email : <input type="text" name="email"/> </label></div>
    <div><label> name : <input type="text" name="name"/> </label></div>
    <div><label> lastname : <input type="text" name="lastname"/> </label></div>
    <div><label> middlename : <input type="text" name="middlename"/> </label></div>
    <div><label> birthday : <input type="text" name="birthday"/> </label></div>
    <div><label> phone : <input type="text" name="phone"/> </label></div>
    <div><label> nameParent1 : <input type="text" name="nameParent1"/> </label></div>
    <div><label> phoneParent1 : <input type="text" name="phoneParent1"/> </label></div>
    <div><label> nameParent2 : <input type="text" name="nameParent2"/> </label></div>
    <div><label> phoneParent2 : <input type="text" name="phoneParent2"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>

</body>
</html>
